@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.my-input {
		@apply border w-full bg-[#f6f6f6] border-black/10 rounded-md outline-none py-1.5 px-2;
	}
}

button[disabled],
a[disabled="true"],
.disabled {
	pointer-events: none;
	opacity: 0.6;
}

iframe {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  aspect-ratio: 16/9;
}

.tiptap {
  outline: none;
  border-bottom: 1px solid var(--a-10-cl);
  padding: 0 30px;
}

summary {
  cursor: pointer;
}
